@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.news>

@{
    ViewBag.Title = "Nyheter";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; ;
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div class="NewsEditor">

    <hr>
    @foreach (var item in Model)
    {

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => item.siteoneelemId)
                <div class="form-group col-md-3 imagecolumn">
                    @Html.Action("GetImages", new { NewsId = (int)item.siteoneelemId })
                </div>

                <div class="form-group col-md-8">
                    @Html.LabelFor(model => item.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.EditorFor(model => item.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => item.Title, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => item.Anonce, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="">
                        @Html.TextAreaFor(model => item.Anonce, 5, 1, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => item.Anonce, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-1">
                    <div class="">
                        <input type="submit" value="Save" class="btn btn-default" />
                        @Html.ActionLink("Details", "Details", new { id = item.siteoneelemId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.siteoneelemId })
                    </div>
                </div>
            </div>
            <hr>

        }
    }
</div>