
    <ul>
        <li><a href="@Url.Action("Index", "Home")" title="Home">Forside</a></li>
        <li><a href="@Url.Action("Index", "Portfolio")" title="Portfolio">Portefølje</a></li>
        <li><a href="@Url.Action("Index", "News")" title="Nyheter">Nyheter</a></li>
        <li><a href="@Url.Action("Index", "Contact")" title="Contact">Kontakt oss</a></li>
        <li>@Html.Partial("_LoginPartial")</li>
    </ul>

