@using WebApplication1.Models
@using System.Text;
@model Project
@{
    ViewBag.Title = "Vår portfolio";
    Layout = "~/Views/Shared/_LayoutAllPages.cshtml";
    ViewBag.PageTitle = "Potfølje";
    ViewBag.CurrentPage = "Portfolio";

}
@section  aboutCompanyTop {

    @Html.Partial("AboutCompanyTop")
}
<div class="categoryFilter container">
    <div class="controls row">
        <button class="filter" data-filter="all" >All</></button>
        @Html.Action("GetCategories")
    </div>

</div>

<div class="allProgects">
    <div id="Container1" class="container-fluid">
        @foreach (Project b in ViewBag.projects)
        {  
            StringBuilder sb = new StringBuilder();
            foreach (ProjectCategory p in b.ProjectCategories)
            {
                //sb.Append('');
                sb.Append(p.Name);
            }
            <div class="mix all @sb col-md-3" >
                <h3 class="bounceInLeft">@b.Customer</h3>
                @{ string url = @b.ImageLink.Link != null ? Url.Content("~/Content/img/" + @b.ImageLink.Link) : "";}

                <div class="imageOfProgect" style="background: url(@url) no-repeat #aaa; background-size: cover; background-position: center center; "> </div>
                <p class="projectDescript">@b.ProjectDescription</p>
            </div>
        }  
     </div>
</div>

@section AboutCompanyBottom {
    @Html.Partial("AboutCompanyPartialView")
}

@section Footer {
    @Html.Partial("FooterPartialView")
}

@section ScriptForPage {
    @Scripts.Render("~/bundles/mixitup")
}

@section ScriptMain {
   @Scripts.Render("~/bundles/main")
}
