@using WebApplication1.Models
@model news

@{
    ViewBag.Title = "GetOneNews";
    Layout = "~/Views/Shared/_LayoutAllPages.cshtml";
    ViewBag.PageTitle = "Nyheter";
    ViewBag.CurrentPage = "Nyheter";

}
@section  aboutCompanyTop {

    @Html.Partial("AboutCompanyTop")
}
<div class="container">
    <div class="row">
        <article class="OneNewsPerPage col col-float col-md-7 col-md-offset-1 col-lg-13 col-lg-offset-1">

            @{
                List<imageLink> image = Model.imgLink.ToList();
                string Title = Model.Title;
            }

            <h1>@Title</h1>
            <h4>Published:</h4>
            @foreach (imageLink src in image)
            {
                string url = Url.Content("~/Content/img/news/" + @src.Link);
                <picture alt="Title">
                    <source src="@url" media="min-width:1170px">
                    <source src="@url" media="min-width:480px">
                    <source src="@url">
                    <!-- для браузеров не поддерживающих тег -->
                    <img src="@url">
                </picture>
            }

            <div class="mainText column">
                @Model.Text
            </div>


        </article>
    </div>
</div>

@section AboutCompanyBottom {
    @Html.Partial("AboutCompanyPartialView")
}

@section Footer {
    @Html.Partial("FooterPartialView")
}
