@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.news>
@using System.Text;


    @{
        int count = 1;
    }

    @foreach (news n in Model)
    {
        StringBuilder sb = new StringBuilder();


        if (count % 2 == 0)
        {
            @: <article class="oneNews  col col-inline col-lg-offset-1 col-md-7 col-lg-7 ">


        }
        else
        {
            @: <article class="oneNews  col col-inline col-md-7 col-lg-7 ">
        }

        List<imageLink> imge = n.imgLink.ToList();
        foreach (imageLink srca in imge)
        {
            string url = Url.Content("~/Content/img/news/" + @srca.Link);
            <picture alt="@n.Title">
                <source src="@url" media="min-width:1170px">
                <source src="@url" media="min-width:480px">
                <source src="@url">
                <!-- для браузеров не поддерживающих тег -->
                <img src="@url">
            </picture>

        }
        <h2 class="newsTitle">@n.Title</h2>
        <div>Published:</div>
        <section class="newsText">@n.Anonce</section>
        <a href="News/GetOneNews/@n.siteoneelemId"  class="lesMer greenButton">Les mer</a>
        @:</article>

        count++;
    }
